

 /* 좌측 메뉴바 */

div#wrap{
	display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 1000px;
    margin: 0 auto;
}

div.mypage-menu {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 25px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding: 20 0 20 30px;
}

div.mypage-div02{
	flex: 4;
    margin-left: 100px;
}

a.menu-list{
	font-size: 13px;
    font-weight: bold;
}

p.menu-list{
	margin: 10px 0 10px 10px;
}

/* 우측 list */
div.no-list{
	background-color: white;
    text-align: center;
    padding: 50;
    width: 500;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
}

span.no-list{
	font-size: 16px;
    font-weight: bold;
    color: gray;
}

div.mypage-section1{
	display: flex;
    align-items: center;
}

span.mypage-title{
    font-size: 25px;
    color: ffc06c;
    font-weight: bold;
    flex: 1;
}

i.writeBtn{
	font-size: 30px;
}

ul.list-ul{
	margin: 30px 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding: 30px;
}

li.list-list{
	list-style-type: none;
}

div.box-parent{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    cursor: pointer;
}

div.box-section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

i.imageIcon{
    font-size: 60px;
    color: ddd9cb;
}

img#imgfile{
	height: 60px;
    width: 60px;
    border-radius: 10px;
}

div.list-span01{
	margin-left: 25px;
	margin-top: 3px;
}

div.box-date{
	color: #ddd9cb;
}

span.font-set1{
	font-size: 16px;
	font-weight: bolder;
	color: ffc06c;
}

span.font-set2{
	font-size: 14px;
	color: gray;
}

i.restIcon{
	margin-right: 5px;
    color: #b1b1b1;
}

hr.line{
    margin: 15px 0;
    background: #ddd9cb;
    height: 1px;
    border: 0;
}

div.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
