<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.EatStamp.mapper.StampMapper">  

<!-- 일단 가게 정보 XX
 -->
	<!-- 글목록 -->
	<select id="selectList" parameterType="map" resultType="stampVO">
		SELECT 
			s_num, 
			s_title, 
			s_content, 
			s_uploadPath,
			s_fileLoca, 
			s_fileName, 
			s_fileRealName, 
			s_rate, 
			reg_date, 
			r_name, 
			mem_num
		FROM(
			SELECT
				@rownum:=@rownum+1 AS rn,
				s_num,
				s_title,
				s_content,
				s_uploadPath,
				s_fileLoca, 
				s_fileName, 
				s_fileRealName, 
				s_rate,
				reg_date,
				r_name,
				mem_num
			FROM eatstamp.stamp, (SELECT @rownum:=0) TMP
			WHERE mem_num = #{mem_num}
			ORDER BY s_num DESC
			) t1
		WHERE rn BETWEEN #{start} and #{end}
		
	</select>
	
	<!-- 글수정 -->
  	<update id="updateStamp" parameterType="stampVO">
  		UPDATE stamp SET 
  			s_title=#{s_title}, 
  			s_content=#{s_content},  
  		    s_rate=#{s_rate}, 
  		    r_name=#{r_name}, 
  		    s_tag=#{s_tag},
  		    s_uploadPath=#{s_uploadPath}, 
			s_fileLoca=#{s_fileLoca}, 
			s_fileName=#{s_fileName}, 
			s_fileRealName=#{s_fileRealName}
  		WHERE s_num=#{s_num}
  	</update>
  	
  	<!-- 글 개수 -->
  	<select id="selectRowCount" resultType="int">
  		SELECT 
  			COUNT(*) 
  		FROM stamp AS s JOIN member AS m 
  		ON s.mem_num = m.mem_num AND s.mem_num=#{mem_num}
  	</select>
  	
  	<!-- 글쓰기 -->
  	<insert id="insertStamp" useGeneratedKeys="true" keyProperty="s_num" keyColumn="s_num" parameterType="stampVO" >
  		INSERT INTO stamp 
  		(
			s_title, 
			s_content, 
	  		s_uploadPath, 
			s_fileLoca, 
			s_fileName, 
			s_fileRealName, 
			reg_date, 
	  		s_rate, 
	  		r_name, 
			mem_num,
			s_tag
		) 
			VALUES 
		(
			#{s_title}, 
			#{s_content}, 
			#{s_uploadPath}, 
			#{s_fileLoca}, 
			#{s_fileName}, 
			#{s_fileRealName}, 
			#{reg_date}, 
			#{s_rate}, 
			#{r_name}, 
			#{mem_num},
			#{s_tag}
		)
  	</insert>
  	
  	<!-- 글 상세 -->
  	<select id="selectStamp" parameterType="int" resultType="stampVO">
  		SELECT 
  			* 
  		FROM stamp s JOIN member m USING(mem_num) 
		WHERE s.s_num=#{s_num}
  	</select>
  	
  	<!-- 글 삭제 -->
  	<delete id="deleteStamp" parameterType="int">
  		DELETE 
  			FROM stamp 
  			WHERE s_num=#{s_num}
  	</delete>

</mapper>